[submodule "module1a"]
	path = module1a
	url = git@github.com:MechanicalPython/module1a.git
[submodule "module1b"]
	path = module1b
	url = git@github.com:MechanicalPython/module1b.git
[submodule "module2"]
	path = module2
	url = ../jhub-module2/.git
[submodule "module3"]
	path = module3
	url = ../jhub-module3/.git
